/*
 * Import CSS
 */
@import "Fonts.css";

/*
 * Layouts & General
 */
html,body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: Roboto;
}
header {
    min-height: 57px;
}
h1,h2 {
    font-weight: bold;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
/*
 * Navbar
 */
.navbar {
    border-bottom: solid 1px #ffffff;
    background-color: #000000;
}
.nav-item {
    margin: 0 1rem 0 1rem;
}
.nav-link {
    color: rgba(255,255,255,.8);
}
.nav-item.active > a {
    color: #ffffff;
    font-weight: bold;
}
.nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

/*
 * Footer
 */
.footer {
    border-top: solid 1px #ffffff;
    background-color: black;
}
.footer-link {
    color: #ffffff;
    margin: 0 1rem 0 1rem;
}
.footer-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

/*
 * Sections
 */

section{
    scroll-margin-top: 57px;
}

.content {
    min-height: calc(60vh - 57px);
    border-bottom: solid 1px #ffffff;
    padding: 50px 0 50px 0;
    background: black;
    position: relative;
}
#contact {
    border-bottom: none;
}
#home{
    height: calc(100vh - 57px);
    border-bottom: none;
    background: url(../Resources/Images/MainImg1.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.under{
    position: sticky;
    top: 57px;
}

.under h1{
    padding-top: 2rem;
}
.wrapper {
    height: 200vh;
}
.over{
    margin-top: calc(-100vh - 157px);
    position: relative;
}

.logo{

    border-radius: 50%;
    width: 200px;
    background-image: linear-gradient(transparent, black);
    z-index: 10;
}

.fadeFooter{
    height: 100px;
    background-image: linear-gradient(transparent, black);
}
 section img{
     max-height: 50vh;
 }



