/*
 * Import CSS
 */
@import "Fonts.css";

/*
 * Layouts & General
 */
html,body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: Roboto;
    width: 100%;
}
header {
    min-height: 57px;
}
h1,h2 {
    font-weight: bold;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
/*
 * Navbar
 */
.navbar {
    border-bottom: solid 1px #ffffff!important;
    background-color: #000000!important;
}
.nav-item {
    margin: 0 1rem 0 1rem !important;
}

@media (min-width: 768px) {
    .display-7{
        font-size: calc(0.3rem + 1.4vw);
    }
}

@media (max-width: 767.98px) {
    .nav-item {
        margin: 0!important;
    }
    .display-7{
        font-size: calc(0.7rem + 1.4vw);
    }
}

.nav-link {
    color: rgba(255,255,255,.8)!important;
}
.nav-item.active > a {
    color: #ffffff!important;
    font-weight: bold!important;
}
.nav-link:hover {
    color: #ffffff!important;
    text-decoration: underline!important;
}

/*
 * Footer
 */
.footer {
    border-top: solid 1px #ffffff;
    background-color: black;
}
.footer-link {
    color: #ffffff;
    margin: 0 1rem 0 1rem;
}
.footer-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

/*
 * Sections
 */

section{
    scroll-margin-top: 57px;
}

.content {
    background: black;
    position: relative;
    padding: 50px 0 50px 0;
}
#contact {
    border-bottom: none;
}
#home{
    height: calc(100vh - 207px);
    border-bottom: none;
}

.bg-img{
    margin-left: -150px;
    height: 100vh;
    background: url(../Resources/Images/main2.jpg) no-repeat left top;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    width: 100%;
    opacity: 0.8;
    width: -webkit-fill-available;
    width: -moz-available;
    width: -o-fill-available;
}

.under{
    position: sticky;
    top: 57px;
}

.under h1{
    padding-top: 2rem;
}
.wrapper {
    height: 200vh;
}
.over{
    margin-top: calc(-100vh - 207px);
    position: relative;
}

.b-w{
    height: 50px;
    position: relative;
    background-image: linear-gradient(black, white);
}

.w-b{
    height: 50px;
    position: relative;
    background-image: linear-gradient(white, black);
}

.logo{

    border-radius: 50%;
    width: calc(50px + 6vw);
    background-image: linear-gradient(transparent, black);
    z-index: 10;
}

#program img{
    height: unset;
    margin-top: auto;
}

#contact img{
    height: unset;
    margin-top: auto;
}

.fadeFooter{
    height: 150px;
    background-image: linear-gradient(transparent, black);
}
 section img{
     height: 100%;
     width: 100%;
     object-fit: contain;
 }

 .clickable{
     cursor: pointer;
 }
.content .row{
    margin: 0;
}

.mySmall{
    font-size: calc(0.5rem + 1vw);
}





#admin-body{
    background-color: #a1a1a1;
    color: black;
}


.icon-link{
    color: rgba(255,255,255,0.8);
}

.icon-link:hover{
    color: white;
}

#program{
    background-color: white;
    color: black;
}

.img-black{
    -webkit-mask-image: linear-gradient(to top, black, transparent),
    linear-gradient(to right, black, transparent);
    mask-image: linear-gradient(black, transparent);
}